* {
    font-family: 'Poppins';
}

:root {
    background-color: #FAF7FD;
  }

.capitao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 650px;
}

.botaozin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botao {
    height: 25px;
    width: 300px;
    margin-bottom: 1em;
    border: 1px solid #BB99DD;
}

.redondo {
    height: 50px;
    width: 50px;
    margin-bottom: 1em;
    border-radius: 30px;
}

.social {
    display: flex;
    align-items: center;
    flex-basis: 10em;
    gap: 2em;
}

img {
    height: 12em;
    width: 12em;
    border-radius: 50%;
}

.foto {
    margin-bottom: 2em;
}